pkgbase = ur-git
	pkgdesc = (A)ur helper
	pkgver = 0.1.1
	pkgrel = 2
	url = https://www.humaninstrumentalityproject.org
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = git
	depends = aspe
	depends = reallymakepkg
	depends = sus
	optdepends = git
	source = ur-git::git+https://github.com/themartiancompany/ur#branch=master
	sha256sums = SKIP

pkgname = ur-git
