pkgbase = ur-git
	pkgdesc = (A)ur helper.
	pkgver = 0.1
	pkgrel = 2
	url = https://www.humaninstrumentalityproject.org
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = git
	depends = aspe
	depends = reallymakepkg
	optdepends = git
	source = ur-git::git+https://github.com//ur.git
	sha256sums = SKIP

pkgname = ur-git
